// Colors
$background-color: rgb(23, 19, 37);
$text-color: rgb(255,255,255);
$highlight-color: rgb(50, 42, 80);
$table-border-color: rgb(100, 89, 150);
$header-bg-color: rgb(37, 29, 68);
$even-row-bg: rgb(42, 34, 75);
$odd-row-bg: rgb(23, 18, 39);
$active-status-green: rgba(0, 200, 0, 0.75);
$inactive-status-red: rgba(200, 0, 0, 0.75);

// tooltip variables
$tooltip-position: absolute;
$tooltip-background-color: #333;
$tooltip-width: 200px;
$tooltip-color: #fff;
$tooltip-border-radius: 5px;
$tooltip-padding: 5px;
$tooltip-white-space: nowrap;
$tooltip-opacity: 0;
$tooltip-visibility: hidden;
$tooltip-transition: opacity 0.3s;

// Mixins
@mixin center-flex {
   display: flex;
   justify-content: center;
   align-items: center;
}

@mixin transition-bg {
   transition: background-color 0.2s ease-in-out;
}